*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.topnav
{
    background-color: black;
    color:black;
}

.topnav a{
    color:black;
    text-decoration: none;
    font-size:25px;
    padding: 20px 20px;
    display: block;
    float: left;
}
.topnav a:hover{
    background-color: white;
    color: black
}
.header{
    background:linear-gradient(rgba(214, 106, 247, 0.2), rgb(255,255,255,0.5)),
    url(https://images.unsplash.com/photo-1556557753-4d7eb13e06c4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWluaW1hbGlzdCUyMGZsb3dlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 50px;
    height: 100vh;
    color:black;
    text-align: center;
    padding: 20px;
}
.header h1{
    padding: 20%;
}
.row:after{
    content:"";
    display: table;
    clear: both;
}

.column{
    float:left;
    width: 50%;
}

#project1{
    padding:10%;
}

#project1 h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 2px;
    text-align: center;
}

#project1 p{
    font-size: 25px;
    margin: 2px;
}

#project1 img{
    width: 90%;
    height: 400px;
    margin: 2px;
}

#project2{
    padding:10%;
}

#project2 h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 2px;
    text-align: center;
}

#project2 p{
    font-size: 25px;
    margin: 2px;
}

#project2 img{
    width: 90%;
    height: 400px;
    margin: 2px;
}

#project3{
    padding:10%;
}

#project3 h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 2px;
    text-align: center;
}

#project3 p{
    font-size: 25px;
    margin: 2px;
}

#project3 img{
    width: 90%;
    height: 400px;
    margin: 2px;
}

#project4{
    padding:10%;
}

#project4 h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 2px;
    text-align: center;
}

#project4 p{
    font-size: 25px;
    margin: 2px;
}

#project4 img{
    width: 90%;
    height: 400px;
    margin: 2px;
}

#project5{
    padding:10%;
}

#project5 h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 2px;
    text-align: center;
}

#project5 p{
    font-size: 25px;
    margin: 2px;
}

#project5 img{
    width: 90%;
    height: 400px;
    margin: 2px;
}