*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.topnav
{
    background-color: black;
    color:black;
}
.topnav a{
    color:black;
    text-decoration: none;
    font-size:25px;
    padding: 20px 20px;
    display: block;
    float: left;
}

.topnav a:hover{
    background-color: white;
    color: black
}
.header{
    background:linear-gradient(rgba(214, 106, 247, 0.2), rgb(255,255,255,0.5)),
    url(https://images.unsplash.com/photo-1556557753-4d7eb13e06c4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWluaW1hbGlzdCUyMGZsb3dlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 50px;
    height: 100vh;
    color:black;
    text-align: center;
    padding: 20px;
}

.header h1{
    padding: 20%;
}

.row:after{
    content:"";
    display: table;
    clear: both;

}

.column{
    float:left;
    width: 50%;
}

#about{
    padding: 10%;
}

#about h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 2px;
}

#about p{
    font-size: 25px;
    margin: 2px;
}

#about img{
    width: 90%;
    height: 500px;
    margin: 2px;
}

#skills{
    padding: 10%;
}

#skills h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 2px;
}

#skills h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 2px;
}
#skills p{
    font-size: 25px;
    margin: 2px;
}

#skills img{
    width: 90%;
    height: 500px;
    margin: 2px;
}

#projects{
    padding: 10%;
}

#projects h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 2px;
}

#projects h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 2px;
}
#projects p{
    font-size: 25px;
    margin: 2px;
}

#projects img{
    width: 90%;
    height: 500px;
    margin: 2px;
}

#resume{
    padding: 10%;
}

#resume h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 2px;
}

#resume p{
    font-size: 25px;
    margin: 2px;
}

#resume a{
    font-size: 20px;
    margin:2px;
}

#resume img{
    width: 90%;
    height: 500px;
    margin: 2px;
}


#contact{
    padding: 10%;
}

#contact h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 2px;
}

#contact h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 2px;
}
#contact p{
    font-size: 25px;
    margin: 2px;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="submit"]{
    width:100%;
    height:25px;
    font-size: 20px;
    margin: 1%;
}

